body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd { 
	margin: 0px; 
	padding: 0px; 
	font-size: 12px; 
	font-weight: normal;
}
ul { 
	list-style: none; 
}
img { 
	border-style: none; 
}
a{
	text-decoration:none;
	outline:none;
	color:white;
}

#head{
	height:52px;
	background:#2c3e50;
	padding:0 100px 0 100px; 
}
#head h3{
	float:left;
	font:white;
	font-size:20px;
	font-weight:bold;
	line-height:52px;
}
#headSign{
	float:right;
}
#headSign p{
	float:right;
	margin:6px 3px 4px 3px;
}
#Signup{
	background:#f5b043;
}
#Signin{
	background:#1dccaa;
}
#headSign p a{
	display:inline-block;
	float:right;
	line-height:38px;
	padding:0 20px;
	font-size:16px;
}

#body{
	padding:0 100px 0 100px;
	height:420px;
}
#body h2{
	padding-left:32px;
	width:270px;
	height:90px;
	line-height:90px;	
	font-size:50px;
	font-weight:bold;
	color:#2c3e50;
}
#RegForm p{
	float:left;
	clear:both;
	font-size:14px;
	height:34px;
	color:#2c3e50;
}
#RegForm span{
	float:left;
	width:190px;
	text-align:right;
	line-height:34px;
}
#RegForm input{
	float:left;
	margin-left:20px;
	line-height:28px;
	width:200px;
	border:2px solid #dce4ec;
	
	position:relative;
	z-index:2;
	background:none;
	outline-color:#00FF00;
}
#RegForm .Inpdiv{
	float:left;
	position:relative;
	width:200px;
}
#RegForm .Inpdiv span{
	left:26px;
	position:absolute;
	width:200px;
	text-align:left;
	line-height:34px;
	font-size:14px;
	font-weight:bold;
	color:#DDDDDD;
}
#RegForm strong{
	color:red;
	font-size:14px;
	font-weight:normal;
	line-height:34px;
	
	padding-left:30px;
	float:left;
	display:none;
	padding-right:10px;
}
#RegForm p #sub{
	float:none;
	margin-left:210px;
	height:38px;
	width:160px;
	background:#33485d;
	line-height:38px;
	text-align:center;
	font-size:14px;
	color:white;
	border-style:none;
	
	cursor:pointer;
}

#fot{
	width:380px;
	margin:0 100px 0 100px;
	line-height:30px;
	color:#2c3e50;
	font-size:14px;	
}
#foot{
	margin:0 100px 0 100px;
	border-top:1px solid #ecf0f1;
	line-height:84px;
	color:#2c3e50;
	font-size:12px;	
}